.top{
    margin-top:0px;
    border-radius: 0px;
    background-color:blue;
}

.highlight{
    background-color: yellow;
    padding:3px;
}

body{
    background: url('images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.social a{
    font-size: 2em;
}

.headshot{
    width:130px;
    border:15px solid #fff;
}

.bio{
    max-width: 700px;
    background:white;
    border-radius:15px;
    padding: 20px;
    margin: -15px auto 15px auto;

}

.netid{
  padding:8px;
}

.netid small{
  border-radius:5px;
  padding: 5px;
  background:rgba(255,255,255,.5);
  color:#333;
}

.bgAttr{
  position:absolute;
  bottom:0;
  right:0;
  background:#333;
  color:#fff;
}

.contactMe{
    display:none;
    width:300px;
    margin: 0 auto;
}
